<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" th:href="@{/img/logo-icon.png}">

</head>

<body>
	<div th:include="headerdiv"></div>
	<div th:include="leftnav"></div>
	<div class="content-inner chart-cont">

		<!--***** INLINE FORM *****-->
		<div class="card form" style="padding: 10px;" id="form6">
			<form autocomplete="off" class="form-inline"
				action="loadUserinfoList_0_0_0" method="post">
				<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
					id="userName" name="userName" th:value="${data.userName}"
					placeholder="请输入用户名称……">
					<select data-placeholder="省" id="companyId" name="companyId"
						class="custom-select mb-2 mr-sm-2 mb-sm-0"  >
						<option value="">所属企业</option>
						<option th:each="type:${companylist}" th:value="${type.companyId}"
						th:selected="${type.companyId == data.companyId}"
							th:text="${type.companyName}"></option>
					</select>
				<!--  <label class="mr-sm-2" for="inlineFormCustomSelect">企业种类</label>
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0"  id="inlineFormCustomSelect">
                                <option selected>请选择</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select> -->
				<button type="submit" class="btn btn-general btn-blue ">搜索</button>
			</form>
		</div>
		<div class=" tenth-button ">

			<a th:href="@{../userinfo/userinfoAdd}" class="btn btn-lg blue">新增用户</a>
		</div>
		<!--***** CONTENT *****-->
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr class="bg-info text-white">
						<th width="1%">序号</th>
						<th width="5%">用户名称</th>
						<th width="5%">用户账号</th>
						<th width="5%">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,index: ${list}">
						<td th:text="${index.count}"></td>
						<td th:text="${user.userName}"></td>
						<td th:text="${user.userAccount}"></td>
						<td><a class="btn btn-outline-primary"
							style="max-width: 75px;"
							th:href="@{'../userinfo/userUpdate?userId='+${user.userId}}"><i
								class="fa  fa-pencil"></i>修改</a> <a class="btn btn-outline-danger"
							style="max-width: 75px;" href="javascript:void(0)"
							th:onclick="'javascript:showuserToDel('+'\''+${user.userId}+'\''+');'">
								<i class="fa fa-times  "></i>删除
						</a></td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="13">
							<ul id="pageHTML" class="pagination pull-right"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>


	<script th:inline="javascript">
	    var pageHTML = [[${pageHTML}]];
	   /*  console.log(pageHTML); */
		$(document).ready(function () {
			$("#pageHTML").html(pageHTML);
		});
		function showuserToDel(qid) {
		    if (confirm("确定删除此条信息?")) {
		        $.ajax({
		            url: "../userinfo/doDeluser?userId="+qid,
		            type: "post",
		          
		            processData: false,
		            contentType: false,
		            success: function(msg) {
		                if (msg.code == 500) {
		                    //表示失败
		                    alert("删除信息失败！");
		                } else {
		                	 self.location = '../userinfo/loadUserinfoList_0_0_0';
		                }

		            },
		            error: function() {
		                alert("系统异常！");
		            }
		        });
		    }
		}

</script>

</body>


</html>
