<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" th:href="@{/img/logo-icon.png}">

<link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
	<div th:include="headerdiv"></div>
	<div th:include="leftnav"></div>
	<div class="content-inner chart-cont">


		<!--***** CONTENT *****-->
		<div class="row">
			<div class="col-md-12">
				<div class="card form" id="form2">
					<div class="card-header">
						<h3>基本信息</h3>
					</div>
					<br> <input type="hidden" id="fileId" name="fileId"
						th:value="${resourcesfile.fileId}" /> <input type="hidden"
						id="resourcesId" name="resourcesId"
						th:value="${resourcesfile.resourcesId}" />
					<form action="" autocomplete="off" id="resourcesSave">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<label for="example-text-input" style="width: 100px;"
										class=" col-form-label">节目名称</label>
									<div class="col-9">
										<input class="form-control" type="text"
											th:value="${resourcesfile.fileName}" name="fileName"
											id="fileName" placeholder="请输入节目名称……">
									</div>
								</div>
								<div class="form-group row">
									<label for="example-text-input" style="width: 100px;"
										class=" col-form-label">资源简介</label>
									<div class="col-9">

										<input class="form-control" type="text" name="fileContent"
											th:value="${resourcesfile.fileContent}" id="fileContent">

									</div>
								</div>
								
								<div class="form-group row">
									<label for="example-email-input" style="width: 100px;"
										class=" col-form-label">可用</label>
									<div class="col-9">
										<select class="form-control" id="isTrue" name="isTrue">
											<option value="0" th:selected="${resourcesfile.isTrue == 0}">否</option>
											<option value="1" th:selected="${resourcesfile.isTrue == 1}">是</option>
										</select>
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label for="example-search-input" style="width: 100px;"
										class=" col-form-label">节目排序</label>
									<div class="col-9">
										<input class="form-control" type="number"
											th:value="${resourcesfile.fileSort}" name="fileSort"
											id="fileSort" placeholder="请输入节目排序……">
									</div>
								</div>
								
								<div class="form-group row">
									<label for="example-text-input" style="width: 100px;"
										class=" col-form-label">上传节目资源</label>
									<div class="col-9">
										<input type="file" name="fileupmulti" accept="video/*" />
										<div class="progress" style="line-height: 0rem">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated bg-success"
												role="progressbar" id="progressbar" style="width: 0%;"
												aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">0%</div>
											<br> <br>
										</div>
										<input class="form-control" type="text" name="filePath"
											th:value="${resourcesfile.filePath}" id="filePath" readonly>
										<button type="button"
											class="btn btn-danger waves-effect waves-light save-category"
											onclick="uploadFile()" data-dismiss="modal">上传</button>
									</div>
								</div>
								
							</div>
						</div>
						<button type="button" onclick="Saveresources()"
							class="btn btn-general btn-blue mr-2">提交</button>
						<button type="reset" class="btn btn-general btn-white"
							onclick="window.history.go(-1);">返回</button>
					</form>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		// 单文件上传
		function uploadFile() {
			// 创建一个 FormData 对象，用一些键值对来模拟一系列表单控件
			// 即把 form 中所有表单元素的 name 与 value 组装成一个 queryString
			let
			file1 = document.getElementsByName("fileupmulti")[0].files[0];
			//$('.fileupmulti')[0].files[0];
			let
			form = new FormData();
			form.append('doc', file1);

			// ajax 代码...

			// 创建一个 ajax 对象
			var xhr = new XMLHttpRequest();

			// 规定请求的类型、URL 以及是否异步处理请求。true为异步
			// 请求是异步的。因为要实时获取到上传的进度，则请求需是异步的，如果是同步的话，会直到请求完成才能获取到响应
			xhr.open("post", "../upload/fileavi", true);

			// 上传成功进入的回调函数
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4 && xhr.status == 200) { // 状态 4 和 200 代表和服务器端交互成功
					// 获取上传成功的返回数据
					var data = xhr.responseText.trim();
					jdata = eval("(" + data + ")");
					console.log(jdata);
					$("#filePath").val(jdata.url);
					;
				}
			};
			// 监听文件上传的进度
			xhr.upload.addEventListener("progress", progressFunction, false);
			// 发送http请求:将请求发送到服务器，与后台交互
			xhr.send(form);

		}
		// 上传进度的回调函数
		function progressFunction(event) {
			let
			prograssbarDom = $("#progressbar")[0];
			if (prograssbarDom && event.lengthComputable) {
				let
				percent = event.loaded / event.total; //文件上传进度百分比
				let
				p = Math.floor(percent * 100);
				prograssbarDom.style.width = p + "%";
				prograssbarDom.innerHTML = p + "%";
				console.log(p);

			}
		}
	</script>
	<script th:inline="javascript">


		function Saveresources() {
			var formData = new FormData();
			var urlstr = "../resourcesfile/doSaveresources";
			var fid = $("#fileId").val();
			var mid = $("#resourcesId").val();
			formData.append("fileSort", $("#fileSort").val());
			formData.append("filePath", $("#filePath").val());
			
			formData.append("fileName", $("#fileName").val());
			formData.append("fileContent", $("#fileContent").val());
			
			formData.append("isTrue", $("#isTrue").val());
			
			if (fid.length > 0) {
				urlstr = "../resourcesinfo/doUpdateresourcesFile";
				formData.append("fileId", fid);
				formData.append("resourcesId", mid);
			} else {
				formData.append("resourcesId", mid);
				urlstr = "../resourcesinfo/doSaveresourcesFile";
			}

			$
					.ajax({
						url : urlstr,
						type : "post",
						data : formData,
						async : false,
						cache : false,
						contentType : false,
						processData : false,
						dataType : 'json',
						success : function(msg) {
							if (msg.code == 500) {
								//表示失败
								alert("操作失败！");
							} else {
								self.location = '../resourcesinfo/resourcesUpdate?resourcesId='+mid;
							}
						},
						error : function() {
							alert("系统异常！");
						}
					});
		}
		
	</script>

</body>


</html>
