<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" th:href="@{/img/logo-icon.png}">

</head>

<body>
	<div th:include="headerdiv"></div>
	<div th:include="leftnav"></div>
	<div class="content-inner chart-cont">

		<!--***** INLINE FORM *****-->
		<div class="card form" style="padding: 10px;" id="form6">
			<form autocomplete="off" class="form-inline"
				action="loadareainfoinfoList_0_0_0" method="post">
				<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
					id="areaName" name="areaName" th:value="${data.areaName}" placeholder="请输入区域名称……">
				<button type="submit" class="btn btn-general btn-blue ">搜索</button>
			</form>
		</div>
		<div class=" tenth-button ">

			<a th:href="@{../areainfoinfo/areainfoinfoAdd}" class="btn btn-lg blue">新增区域</a>
		</div>
		<!--***** CONTENT *****-->
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr class="bg-info text-white">
						<th width="1%">序号</th>
						<th width="5%">区域名称</th>
						<th width="5%">区域号</th>
						<th width="5%">区域父级</th>
						<th width="5%">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="areainfo,index: ${arealist}">
						<td th:text="${index.count}"></td>
						<td th:text="${areainfo.areaName}"></td>
						<td th:text="${areainfo.areaCode}"></td>
						<td th:text="${areainfo.areaParent}"></td>
						<td>
						<a class="btn btn-outline-primary" style="    max-width: 75px;"
							th:href="@{'../areainfoinfo/areainfoUpdate?areainfoId='+${areainfo.areaId}}"><i
								class="fa  fa-pencil"></i>修改</a> 
						<a
							class="btn btn-outline-danger" style="    max-width: 75px;"
							href="javascript:void(0)"
							th:onclick="'javascript:showareainfoToDel('+'\''+${areainfo.areaId}+'\''+');'">
								<i class="fa fa-times  "></i>删除
						</a></td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="13">
							<ul id="pageHTML" class="pagination pull-right"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>


	<script th:inline="javascript">
	    var pageHTML = [[${pageHTML}]];
	   /*  console.log(pageHTML); */
		$(document).ready(function () {
			$("#pageHTML").html(pageHTML);
		});
		function showareainfoToDel(qid) {
		    if (confirm("确定删除此条信息?")) {
		        $.ajax({
		            url: "../areainfoinfo/doDelareainfo?areainfoId="+qid,
		            type: "post",
		          
		            processData: false,
		            contentType: false,
		            success: function(msg) {
		                if (msg.code == 500) {
		                    //表示失败
		                    alert("删除信息失败！");
		                } else {
		                	 self.location = '../areainfo/loadAreainfoList_0_0_0';
		                }

		            },
		            error: function() {
		                alert("系统异常！");
		            }
		        });
		    }
		}
		function SaveAnswer() {
		    var formData = new FormData($("#filesave")[0]);
		    var urlstr = "../Question/doQuestioninfoImport";
		    
		    $.ajax({
		        url: urlstr,
		        type: "post",
		        data: formData,
		        async: false,
		        cache: false,
		        contentType: false,
		        processData: false,
		        dataType: 'json',
		        success: function(data) {
		        	alert( data.msg);
	        		window.location.reload();
		            layer.close(index);
		        },
		        error: function() {
		            alert("系统异常！");
		        }
		    });
		}
</script>

</body>


</html>
